.theme-light {
    background-color: #f2f2f2;
    color: #161b22;
    font-family: "Ubuntu";
}

.theme-dark {
    background-color: #161b22;
    color: #f0f6fc;
    font-family: "Ubuntu";
}

.topnav {
    background-color: #30363d;
    overflow: hidden;
    border-radius: 30px;
    padding: 10px;
    display: inline-block;
}

.topnav a {
    color: #f2f2f2;
    text-decoration: none;
    font-family: "Ubuntu";
    font-size: 23px;
}

.footer {
    background-color: #30363d;
    overflow: hidden;
    border-radius: 30px;
    padding: 10px;
    display: inline-block;
}

.footer a {
    color: #f2f2f2;
    text-decoration: none;
    font-family: "Ubuntu";
    font-size: 15px;
}

.footer img {
    height: 19px;
    width: 19px;
}

#logo {
    height: 45px;
    width: 45px;
}

.round_corner {
    border-radius: 30px;
    border: 1px solid #f0f6fc;
}

.headings {
    text-align: center;
}

#about {
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
