.theme-light {
    background-color: #f2f2f2;
    color: #161b22;
    font-family: "Ubuntu";
}

.theme-dark {
    background-color: #161b22;
    color: #f0f6fc;
    font-family: "Ubuntu";
}

@viewport {
    width: device-width;
    zoom: 1;
}

#brand {
    margin-right: -12%
}

.flex {
    display: flex;
    gap: var(--gap, 5px);
}

.primary-header {
    margin-top: -15px;
    align-items: center;
    justify-content: space-between;
}

.primary-navigation {
    list-style: none;
    background: hsl(0, 0%, 0% / 0.75);
}

.primary-navigation li {
    background-color: #30363d;
    border-radius: 30px;
    padding: 10px;
}

.primary-navigation li a {
    color: #f2f2f2;
    text-decoration: none;
    font-family: "Ubuntu";
    font-size: 23px;
}

/* .primary-navigation div {
    margin-right: 600px;
} */

.footer {
    bottom: 0;
    position: fixed;
    background-color: #020407;
    overflow: hidden;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 7px;
    display: inline-block;
}

.footer a {
    color: #f2f2f2;
    text-decoration: none;
    font-family: "Ubuntu";
    font-size: 15px;
    padding-left: 4px;
    padding-right: 4px;
}

.fimg {
    height: 19px;
    width: 19px;
}

.logo {
    display: block;
    float: left;
    height: 45px;
    width: 45px;
}

.round_corner {
    display: block;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 381px;
    width: 640px;
    background-color: rgba(255,255,255,0);
}

/* .headings {
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: -10px;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    line-height: 1.6;
    /* margin-top: -63px; */
    background-color: #30363d;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 60px;
    min-height: 87vh;   
}

#avatar{
    height: 115px;
    width: 115px;
    display: block;
    /* margin: -2% auto; */
    border-radius: 50%;
    border: 8px solid #161b22;
    position: absolute;
    right: 48%;
    top: 2%;
}

/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: absolute;
  top: 12%;
  /* margin: 0 auto; */
  /* width: 80%; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -10%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 4%;
}

/* Position the "next button" to the right */
.next {
  right: 4%;
  /* border-radius: 3px 0 0 3px; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 99%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-clip: content-box;
  border-radius: 0 0 30px 30px;
}

/* The dots/bullets/indicators */
.dotDiv {
  position: absolute;
  top: 53%;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #eed9d9;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}